
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>

</head>

<style>
    h1 {text-align: center;}
    img {
        display: block;
        margin-left: left;
        margin-right: auto;
    }
    ul {
    }
    div.static {
        position: static;
        border: 3px solid #73AD21;
    }
</style>
<body>
        <h1> Solirius Journal App </h1>
        <img src="https://www.solirius.com/img/logo.png" alt="logo" width="200" height="70">
        <article class="media">
                <div class="media-content">
                    <div class="content">
                        <a href="http://127.0.0.1:8000/journal/resource_create/">Add new resource</a>
                    </div>
                </div>
        </article>

        <form method="GET" action="/search/">
        <div class="form-group">
            <input type="text" class="form-control" name="q" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-light">Search</button>
        </form>

        {% if resources %}
        <ul>
        {% for resource in resources %}
            <li><a href="{{ resource.url }}/">{{ resource.name }}</a></li>
        {% endfor %}
        </ul>
    {% else %}
        <p>No resources are available.</p>
    {% endif %}

</body>
</html>
